{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="d-flex justify-content-between">
	{{ include('category/_delete_form.html.twig') }}
	
	<div class="d-flex justify-content-center">
		<button class="btn">{{ button_label|default('Sauvegarder') }}</button>
	</div>
	
	<span style="visibility: hidden;"></span>
</div>
{{ form_end(form) }}
